
name: Compile Latex and Release PDF  

on:
  push:
    branches:
      - main
    paths:
      - resume.tex
      - resume.cls
  pull_request:
    
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            resume.tex
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
          pre_compile: |
              apk add msttcorefonts-installer fontconfig
              update-ms-fonts
              fc-cache -f
          args: |
            -pdf -interaction=nonstopmode -halt-on-error -jobname=Lee-Ka-Chun_Resume
            
      - name: Create legacy pdf
        run: cp Lee-Ka-Chun_Resume.pdf "./legacy/Lee-Ka-Chun_Resume_$(date +%b)_$(date +%Y).pdf"
      
      - name: Commit and push compiled pdf
        run: |
            git config --global user.name 'Ken Lee'
            git config --global user.email 'leekachun5a16@gmail.com'
            git add Lee-Ka-Chun_Resume.pdf
            git add ./legacy/**
            git commit -m "Update resume"
            git pull
            git push

      - name: Set tag name
        id: tag_name
        run: echo "::set-output name=tag_name::$(date +'%Y.%m.%d.%H.%M.%S')"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_name.outputs.tag_name }}
          release_name: Release ${{ steps.date.outputs.date }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: ./Lee-Ka-Chun_Resume.pdf
          asset_name: Lee-Ka-Chun_Resume.pdf
          asset_content_type: pdf

      - name: Install poppler
        run: |
          brew install poppler

      - name: Convert pdf into png
        run: |
          pdftoppm -png Lee-Ka-Chun_Resume.pdf > Lee-Ka-Chun_Resume.png     

      - name: Create legacy png
        run: cp Lee-Ka-Chun_Resume.png "./legacy/Lee-Ka-Chun_Resume_$(date +%b)_$(date +%Y).png"

      - name: Commit and push converted png
        run: |
            git add Lee-Ka-Chun_Resume.png
            git add ./legacy/**
            git commit -m "Update png"
            git pull
            git push
      
